---
---

@import "pure/base";
@import "pure/buttons-core";
@import "pure/buttons";
@import "pure/grids-core";
@import "pure/grids-units";
@import "pure/grids-responsive";
// @import "pure/forms";
// @import "pure/menus-core";
// @import "pure/menus-horizontal";

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: Oxygen, sans-serif;
}

// Variables
$highlight: #C6180E;
$white:     #FDFDFD;

// Layout
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.l-box {
  padding: 1em;
  & > *:last-child {
    margin-bottom: 0;
  }
}

.l-pad {
  padding: 1.5em 0;
  & > *:last-child {
    margin-bottom: 0;
  }
}

// Type
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
h1 + h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0.2em;
  line-height: 1.4;
  margin-bottom: 0.8em;
}

// Links
a {
  text-decoration: none;
  color: $highlight;
}

a:hover, a:focus {
  text-decoration: underline;
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.button-hollow {
  color: $highlight;
  background: transparent;
  border: 2px solid $highlight;
  text-shadow: 0;
  text-decoration: none;

  .sidebar & {
    color: $white;
    border: 2px solid $white;
  }
}

.button-hollow-hover,
.button-hollow:hover,
.button-hollow:focus {
  background: $highlight;
  color: $white;
  filter: none;
  text-decoration: none;

  .sidebar & {
    background: $white;
    color: $highlight;
  }
}

@media (min-width: 35.5em) {
}

@media (min-width: 48em) {
}

@media (min-width: 64em) {
}
