---
layout: "default"
title: "Brighton Ruby Conference"
gold:
  - name: "Cleo"
    url: "https://web.meetcleo.com"
  - name: "AppSignal"
    url: "https://appsignal.com"
silver:
supporters:
  - name: "Sorcer"
    url: "https://sorcer.io/"
  - name: "mmtm"
    url: "https://mmtm.io"
  - name: "Bookwhen"
    url: "https://bookwhen.com"
  - name: "Jelly"
    url: "https://app.letsjelly.com/signup?ref=goodscary"
  - name: "Intercom"
    url: "https://www.intercom.com"
  - name: "Shopify"
    url: "https://www.shopify.com"
  - name: "CaptionHub"
    url: "https://captionhub.com"
  - name: "Avo"
    url: "https://avohq.io"
  - name: "Simply Business"
    url: "https://www.simplybusiness.co.uk/"
  - name: "PassEntry"
    url: "https://passentry.com"
image: 'images/twitter-image.jpg'
---

{% include twentytwentysix.html %}

{% include gold.html %}

{% include supporters.html %}

{% include trailer.html %}

{% include headshots.html %}

{% include information.html %}
