---
layout: default
title: "Brighton Ruby Conference 2016"
---

<article>
  <div class="pure-g">
    <div class="pure-u-sm-4-24 pure-u-md-7-24 pure-u-lg-5-24"></div>
    <div class="pure-u-1 pure-u-sm-3-4 pure-u-md-14-24 pure-u-lg-11-24 l-box">
      <h1>Friday 8th July 2016</h1>
      <h2>A one day, single track, conference for Rubyists &amp; the Ruby-curious.</h2>
      <p>Organized by <a href="http://twitter.com/andycroll">@andycroll</a> in Brighton,&nbsp;UK</p>
    </div>
  </div>

  <div class="pure-g l-pad">
    {% for archive in site.archives %}
      {% for photo in archive.photos limit:6 %}
        <div class="pure-u-1-6 pure-u-md-1-12">
          <img src="/images/{{ archive.date | date: "%Y" }}/{{ photo.src }}.jpg" alt="{{ photo.alt }}" class="pure-img" />
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  <div class="pure-g">
    <div class="pure-u-sm-4-24 pure-u-md-7-24 pure-u-lg-5-24"></div>
    <div class="pure-u-1 pure-u-sm-3-4 pure-u-md-14-24 pure-u-lg-11-24 l-box">
      <p>Hello, I'm <a href="http://twitter.com/andycroll" title="Andy Croll Twitter">Andy</a>.</p>
      <p><a href="/2015">2015&rsquo;s event</a> was jolly good fun, although the weather didn't exactly rock. And we had a gameshow!</p>
      <p><em>I'm extraordinarily well ahead of myself, so why not buy a ticket for next year?</em></p>
      <p>I've already got some great speakers lined up but I'm keeping them a secret for now.</p>
    </div>
  </div>

  <!-- <div class="pure-g l-pad">
    <div class="pure-u-sm-4-24 pure-u-md-7-24 pure-u-lg-5-24"></div>
    <div class="pure-u-1 pure-u-sm-3-4 pure-u-md-14-24 pure-u-lg-11-24 l-box">
      <h2>Latest Videos</h2>
    </div>
    <div class="pure-u-1"></div>
    <div class="pure-u-sm-4-24 pure-u-md-7-24 pure-u-lg-5-24"></div>
    <div class="pure-u-1 pure-u-sm-3-8 pure-u-md-7-24 pure-u-lg-5-24 l-box">
      {% for post in site.posts limit:2 %}
        <p>
          <a href="{{ post.url }}">{{ post.title }}</a><br />
          {{ post.speakers.first.name }}
        </p>
      {% endfor %}
    </div>
  </div> -->

  <div class="pure-g">
    <div class="pure-u-sm-4-24 pure-u-md-7-24 pure-u-lg-5-24"></div>
    <div class="pure-u-1 pure-u-sm-3-4 pure-u-md-14-24 pure-u-lg-11-24 l-box">
      <h2>What is Brighton Like?</h2>
      <p>Well I think it's <a href="/misc/lovely-brighton" title="Brighton Guide">like this.</a></p>

      <h3>Behaviour</h3>
      <p>Brighton Ruby Conference is a harassment-free experience for everyone. With that in mind we have a brief code of conduct. It's not draconian, we merely want everyone to enjoy themselves and be considerate of everyone else. <em>Matz is nice, so we are nice.</em></p>
      <p><a href="/misc/code-of-conduct" title="Code of Conduct">Code of Conduct</a></p>
    </div>
  </div>
</article>
