<div class="text-center">
  {% assign ordered_posts = site.posts | sort: 'date' %}
  {% for post in ordered_posts %}
    {% assign post_year = post.date | date: "%Y" %}
    {% if post_year == "2022" %}
      {% if post.firstinsegment == true %}
        <p class="mt-3">{{ post.date | date: "%H:%M" }}</p>
      {% endif %}

      <p class="md:text-lg">{{ post.description }}</p>

      {% assign author = site.data.authors[post.author] %}
      {% if author %}
        <p class="text-xs md:text-sm">{{ author.name }}</p>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
