<div class="flex w-full font-bold text-white">
  <a
    href="https://ti.to/goodscary/brightonruby-2026"
    class="w-1/2 bg-red-800 hover:bg-red-600 focus:outline-none focus:border-red-600 focus:shadow-outline-red active:bg-red-600 transition ease-in-out duration-150"
  >
    <div class="py-3 px-2 sm:p-4 text-center">
      Buy Tickets
      <span class="hidden sm:inline">for 2026</span>
      {% comment %} <span class="hidden md:inline">(extraordinarily late)</span> {% endcomment %}
    </div>
  </a>
  <a
    href="https://forms.reform.app/goodscary/brighton-ruby-2026-cfp/gci0d6"
    class="w-1/2 bg-amber-600 hover:bg-amber-500 focus:outline-none focus:border-amber-500 focus:shadow-outline-amber active:bg-amber-500 transition ease-in-out duration-150"
  >
    <div class="py-3 px-2 sm:p-4 text-center">
      Submit a Talk
      <span class="hidden sm:inline">for 2026</span>
    </div>
  </a>
</div>
