<div class="bg-red-800 text-white">
  <div class="container mx-auto py-2 px-2 sm:p-4">
    <div class="flex flex-row justify-center items-center gap-4 sm:gap-8 text-center">
      <a
        href="/misc/code-of-conduct/"
        class="font-bold bg-transparent hover:bg-red-600 focus:outline-none focus:bg-red-600 transition ease-in-out duration-150 px-2 py-1 sm:px-4 sm:py-2 rounded"
      >
        Code of Conduct
      </a>
      
      <a
        href="https://rubytshirts.com/collections/brighton-ruby-25"
        class="font-bold bg-transparent hover:bg-red-600 focus:outline-none focus:bg-red-600 transition ease-in-out duration-150 px-2 py-1 sm:px-4 sm:py-2 rounded"
      >
        Buy Shirt
      </a>
      
      <a
        href="/misc/food-and-drink/"
        class="font-bold bg-transparent hover:bg-red-600 focus:outline-none focus:bg-red-600 transition ease-in-out duration-150 px-2 py-1 sm:px-4 sm:py-2 rounded"
      >
        Food & Drink
      </a>
    </div>
  </div>
</div>
