<div class="bg-sky-500 text-amber-50">
  <div class="lg:container lg:mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 px-2 sm:px-4 py-4">

    <div>
      <h3 class="font-bold mb-2">Code of Conduct</h3>
      <p class="font-light opacity-90">
        <i>Of course.</i> Brighton Ruby is a harassment-free experience for everyone.
        <em>Matz is nice, so we are nice.</em> That’s the minimum.
      </p>
      <p class="mt-2 font-bold">
        <a href="/2018/welcome-code-of-conduct-andy-croll/">
          How we (I) think about behaviour &rarr;
        </a>
      </p>
      <p class="mt-2 font-bold">
        <a href="/misc/code-of-conduct">
          Our Code of Conduct &rarr;
        </a>
      </p>
    </div>

    <div>
      <h3 class="font-bold mb-2">Brighton?</h3>
      <p class="font-light opacity-90">Welcoming, lots of tremendous food of all types, and so much good coffee. I think
        it’s
        lovely, but I live here.</p>
      <p class="mt-2 font-bold">
        <a href=" /misc/food-and-drink">
          Food & Drink suggestions &rarr;
        </a>
      </p>
      <p class="mt-2 font-bold">
        <a href="/misc/lovely-brighton">
          Here’s a guide to Brighton &rarr;
        </a>
      </p>
    </div>
  </div>
</div>