<div class="bg-amber-50 text-stone-900">
  {% comment %} <div class="bg-sky-950 text-amber-50"> {% endcomment %}
  <div class="container mx-auto md:w-3/4 lg:w-1/2">
    {% assign wastalk = false %}
    {% assign ordered_posts = site.posts
      | where_exp: 'post', 'post.date >= site.time and post.layout == "preview" or post.layout == "break"'
      | sort: 'date'
    %}

    {% for post in ordered_posts %}
      {% if post.title == 'Registration'
        or post.title == 'Coffee'
        or post.title == 'Lunch'
        or post.title == 'Ice Cream'
        or post.title == 'Drinks'
      %}
        {% capture classes %}my-5 opacity-50{% endcapture %}
      {% else %}
        {% capture classes %}{% endcapture %}
      {% endif %}
      <div
        data-timestamp="{{ post.date | date: '%H%M' }}"
        class="px-2 sm:px-4 {{ classes }}"
      >
        <div class="sm:flex sm:gap-4 my-1">
          {% if wastalk == false
            or post.title == 'Registration'
            or post.title == 'Coffee'
            or post.title == 'Lunch'
            or post.title == 'Ice Cream'
            or post.title == 'Drinks'
          %}
            <div class="w-12 flex-none mt-4 sm:mt-0">
              {{ post.date | date: '%H:%M' }}
            </div>
          {% else -%}
            <div class="hidden sm:block w-12 flex-none mt-4 sm:mt-0">&nbsp;</div>
          {% endif -%}
          {% if post.author %}
            <div class="hidden sm:block w-12 flex-none">
              <img
                src="{{ post.author_image | downcase | replace: " ", "_" }}?width=96&height=96"
                class="rounded-sm"
                alt="{{ post.author }}"
              >
            </div>
          {% endif %}
          <div class="flex-1">
            <h2>{{ post.title }}</h2>
            <h3 class="italic text-xs leading-6 opacity-60">{{ post.author }}</h3>
          </div>
        </div>
      </div>

      {% if post.title == 'Registration'
        or post.title == 'Coffee'
        or post.title == 'Lunch'
        or post.title == 'Ice Cream'
        or post.title == 'Drinks'
      %}
        {% assign wastalk = false %}
      {%- else %}
        {% assign wastalk = true %}
      {%- endif %}
    {% endfor %}
  </div>
  <div class="container mx-auto md:w-3/4 lg:w-1/2">
    <p class="text-xs leading-6 opacity-40 px-2 sm:px-4 pb-2 font-extralight">
      Programmed & hosted by
      <a href="https://andycroll.com">Andy Croll</a>.
    </p>
  </div>
</div>
