<div id="sponsors" class="bg-slate-900 text-amber-50">
  <p class="w-full text-center text-xs opacity-40 pt-2">Also helped by...</p>

  <div class="w-full flex flex-wrap lg:flex-nowrap justify-center mx-auto">
    {% for sponsor in page.silver %}
      {% assign sponsor_slug = sponsor.name | downcase | replace: ' ', '_' %}
      {% if sponsor.url != null %}
        <a
          class="w-32 md:w-40 p-2 px-4"
          href="{{ sponsor.url }}"
          title="{{ sponsor.name }}"
          target="_blank"
        >
          {% inline_svg /images/2025/sponsors/{{ sponsor_slug }}.svg role="img" aria-label="{{ sponsor.name }} Logo" %}
        </a>
      {% else %}
        {% inline_svg /images/2025/sponsors/{{ sponsor_slug }}.svg class="w-32 md:w-40 p-2 px-4" role="img" aria-label="{{ sponsor.name }} Logo" %}
      {% endif %}
    {% endfor %}
  </div>
</div>
