<div id="sponsors" class="bg-slate-900 text-amber-50">
  <div class="lg:container lg:mx-auto flex items-center gap-4 px-2 sm:px-4 py-2 sm:py-4">
    <p class="w-1/4 text-xs leading-6 opacity-40">
      Sponsored by these lovely folks.</p>

    <div class="w-3/4 md:w-3/4 grid grid-cols-2 md:grid-cols-4 md:grid-flow-row-dense gap-2 gap-x-4 md:gap-4">
      <a class="block" href="{{ site.data.sponsors['cookpad'].url }}" target="_blank">
        <img src="data:image/svg+xml;base64,{{ site.data.sponsors['cookpad'].base64logo }}">
      </a>
      <a class="block" href="{{ site.data.sponsors['sorcer'].url }}" target="_blank">
        <img src="data:image/svg+xml;base64,{{ site.data.sponsors['sorcer'].base64logo }}">
      </a>
      <a class="block" href="https://www.tech.sb/" target="_blank">
        <img src="data:image/svg+xml;base64,{{ site.data.sponsors['simply_business'].base64logo }}">
      </a>
      <a class="block" href="{{ site.data.sponsors['bloom_and_wild'].url }}" target="_blank">
        <img src="data:image/svg+xml;base64,{{ site.data.sponsors['bloom_and_wild'].base64logo }}">
      </a>
    </div>
  </div>
</div>