{% if page.supporters.size > 0 %}
  <div id="supporters" class="bg-slate-900 text-amber-50">
    <div class="container mx-auto px-4 pb-4">
      <p class="text-xs opacity-40 text-center md:text-left">Supporters</p>
      <div class="grid grid-cols-3 justify-items-center md:flex md:items-center gap-4 pt-2">
        {% for sponsor in page.supporters %}
          {% if sponsor.url != null %}
            <a
              class="md:w-36 px-2"
              href="{{ sponsor.url }}"
              title="{{ sponsor.name }}"
              target="_blank"
            >
              <img
                src="/images/2026/sponsors/{{ sponsor.name | downcase | replace: ' ', '_'}}.svg"
                alt="{{ sponsor.name }} Logo"
              >
            </a>
          {% else %}
            <div class="md:w-36 px-2">
              <img
                src="/images/2026/sponsors/{{ sponsor.name | downcase | replace: ' ', '_'}}.svg"
                alt="{{ sponsor.name }} Logo"
              >
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
