<div id="supported" class="bg-slate-900 text-amber-50">
  <div class="lg:container lg:mx-auto flex items-center gap-4 px-2 sm:px-4 py-2 sm:py-4">
    <p class="text-xs leading-6 opacity-40">
      Supporters:</p>

    <div class="w-3/4 md:w-3/4 grid grid-cols-3 md:grid-cols-5 gap-2 gap-x-4 md:gap-4">
      <a class="block" href="{{ site.data.sponsors['shoopify'].url }}" target="_blank">
        <img src="data:image/svg+xml;base64,{{ site.data.sponsors['shopify'].base64logo }}">
      </a>
      <a class="block" href="{{ site.data.sponsors['vonage'].url }}" target="_blank">
        <img src="data:image/svg+xml;base64,{{ site.data.sponsors['vonage'].base64logo }}">
      </a>

      <a class="block" href="https://thetalake.com" target="_blank">
        <img src="/images/thetalake.svg">
      </a>
    </div>
  </div>
</div>