{% if page.supporters.size > 0 %}
  <div id="supporters" class="bg-slate-900 text-amber-50">
    <div class="container mx-auto px-4 pb-4">
      <p class="text-xs opacity-40 text-center">Supporters</p>
      <div class="flex flex-wrap items-center justify-center gap-x-6 sm:gap-x-8 gap-y-4 pt-2 max-w-5xl mx-auto">
        {% for sponsor in page.supporters %}
          {% assign sponsor_slug = sponsor.name | downcase | replace: ' ', '_' %}
          {% if sponsor.url != null %}
            <a
              class="block"
              href="{{ sponsor.url }}"
              title="{{ sponsor.name }}"
              target="_blank"
            >
              {% inline_svg /images/2026/sponsors/{{ sponsor_slug }}.svg class="h-7 sm:h-8 md:h-9 w-auto" role="img" aria-label="{{ sponsor.name }} Logo" %}
            </a>
          {% else %}
            <div class="block">
              {% inline_svg /images/2026/sponsors/{{ sponsor_slug }}.svg class="h-7 sm:h-8 md:h-9 w-auto" role="img" aria-label="{{ sponsor.name }} Logo" %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
