<div id="twentytwentyfive">
  <div class="grid grid-cols-6 xl:grid-cols-12 gap-4 container mx-auto my-4">
    <a href="https://rosa.codes">
      <img
        src="/images/2025/speakers/rosa_gutierrez.jpg"
        class="w-auto aspect-1/1 rounded-sm"
        alt="Rosa Gutiérrez"
      >
    </a>
    <a href="https://www.linkedin.com/in/vwoolard/">
      <img
        src="/images/2025/speakers/valerie_woolard.jpg"
        class="w-auto aspect-1/1 rounded-sm"
        alt="Valerie Woolard"
      >
    </a>
    <a href="https://julialopez.dev">
      <img
        src="/images/2025/speakers/julia_lopez.jpg"
        class="w-auto aspect-1/1 rounded-sm"
        alt="Julia López"
      >
    </a>
    <a href="https://emilysamp.dev">
      <img
        src="/images/2025/speakers/emily_samp.jpg"
        class="w-auto aspect-1/1 rounded-sm"
        alt="Emily Samp"
      >
    </a>
    {% comment %} <a href="https://rubytshirts.com/products/brighton-ruby-25"> {% endcomment %}
    <img
      src="/images/2025/speakers/brihgotn_ruby.jpg"
      class="w-auto aspect-1/1 rounded-sm"
      alt="Get a t-shirt"
    >
    {% comment %} </a> {% endcomment %}
    <a href="https://www.linkedin.com/in/harrietoughton21/">
      <img
        src="/images/2025/speakers/harriet_oughton.jpg"
        class="w-auto aspect-1/1 rounded-sm"
        alt="Harriet Oughton"
      >
    </a>
    <a href="https://www.linkedin.com/in/amandabrookeperino/">
      <img
        src="/images/2025/speakers/amanda_perino.jpg"
        class="w-auto aspect-1/1 rounded-sm"
        alt="Amanda Perino"
      >
    </a>
    <a href="https://nadiaodunayo.com">
      <img
        src="/images/2025/speakers/nadia_odunayo.jpg"
        class="w-auto aspect-1/1 rounded-sm"
        alt="Nadia Odunayo"
      >
    </a>
    <a href="https://amyhupe.co.uk">
      <img
        src="/images/2025/speakers/amy_hupe.jpg"
        class="w-auto aspect-1/1 rounded-sm"
        alt="Amy Hupe"
      >
    </a>
    <a href="https://www.linkedin.com/in/myudina/">
      <img
        src="/images/2025/speakers/maria_yudina.jpg"
        class="w-auto aspect-1/1 rounded-sm"
        alt="Maria Yudina"
      >
    </a>
    <a href="https://linkedin.com/in/carme-mias">
      <img
        src="/images/2025/speakers/carme_mias.jpg"
        class="w-auto aspect-1/1 rounded-sm"
        alt="Carme Mias"
      >
    </a>
    <a href="https://www.linkedin.com/in/jess-sullivan-1ab72ba1/">
      <img
        src="/images/2025/speakers/jess_sullivan.jpg"
        class="w-auto aspect-1/1 rounded-sm"
        alt="Jess Sullivan"
      >
    </a>
  </div>

  {% comment %} {% include buytshirt.html %} {% endcomment %}

  <div class="container mt-2 px-2 md:px-0 mx-auto md:w-4/5 lg:w-3/4">
    <div class="typography md:columns-2 mb-4">
      <p class="block h-auto max-w-full">
        <a href="https://rosa.codes">Rosa</a> loves learning languages, both for computers and humans, mathematics and
        theoretical Computer Science. She is based in Madrid, Spain, and has worked as a principal programmer at
        37signals since 2017 where she recently was the primary creator of Solid Queue.
      </p>
      <p class="block h-auto max-w-full">
        <a href="https://www.linkedin.com/in/vwoolard/">Valerie</a>, joins us from Heroku where she writes Ruby around
        their databases, and will discuss vector data types and how they are used in Large Language models and AI. How
        do models fall short? And she’ll walk us through a practical example of how to build a similarity search with
        Ruby.
      </p>

      <p class="block h-auto max-w-full">
        <a href="https://julialopez.dev">Julia</a> has been working with Rails for over a decade! As a Senior Software
        Engineer at Harvest, an almost 20-year-old Rails application, she’s worked on upgrades, completely rewritting
        some functionality, and dived deep into the darkest corners of the app. She’ll be sharing how they prevent
        scammers from using our app for their scammy purposes.
      </p>

      <p class="block h-auto max-w-full">
        <a href="https://emilysamp.dev">Emily</a> is an Engineering Manager at Shopify, improving the Ruby development
        experience with open source tools like Sorbet and Prism, which she’s going to talk us through. She is also an
        organizer of <a href="https://wnb-rb.dev">WNB.rb</a>, a virtual community for women and non-binary Ruby
        developers.
      </p>

      <p class="block h-auto max-w-full">
        <a href="https://www.linkedin.com/in/harrietoughton21/">Harriet</a>
        is a senior developer at Zivio. Alongside this, Harriet is part of a small team of technical writers working on
        the Rails Guides—and other projects—within the Rails Foundation. Harriet helps organise the international WNB.rb
        group and also worked as a Batch Manager and Lecturer at Le Wagon's coding bootcamp off the side of her desk.
      </p>

      <p class="block h-auto max-w-full">
        <a
          href="https://www.linkedin.com/in/amandabrookeperino/"
          >Amanda</a
        >, now two years into running the <a href="https://rubyonrails.org/foundation">Rails Foundation</a>, will be
        joining us to take questions sourced from the audience.
      </p>

      <p class="block h-auto max-w-full">
        Brighton Ruby favourite
        <a href="https://nadiaodunayo.com">Nadia</a> completes her trilogy of detective stories from when she's not the
        one-woman team behind <a href="https://thestorygraph.com">The StoryGraph</a>.
      </p>

      <p class="block h-auto max-w-full">
        <a href="https://amyhupe.co.uk">Amy</a> joins us from the world of user experience and will explore burnout,
        purpose and making meaning in an increasingly confusing and calamitous world. What to do when you've attached
        your sense of self to work, and work suddenly feels meaningless?
      </p>

      <p class="block h-auto max-w-full">
        We’ll also have Lightning Talks from <a href="https://www.linkedin.com/in/carme-mias/">Carme</a>,
        <a href="https://www.linkedin.com/in/jess-sullivan-1ab72ba1/">Jess</a> &amp;
        <a href="https://www.linkedin.com/in/myudina/">Maria</a>, on Accessability, Book Clubs & Laravel (!) pulled from
        the CFP.
      </p>
    </div>
  </div>
</div>
