<div id="twentytwentyfour" class="mb-4">
  <div class="lg:container lg:mx-auto px-2 sm:px-4 py-2 sm:py-4 prose">
    <h1>Who’s Speaking?</h1>
    <p>
      I always strive to bring a mixture of established folks and new voices, with a mixture of technical and less
      code-based talks. Ideally all these talks have something for beginners and the more experienced programmers in the
      audience.
    </p>
  </div>
  <div class="lg:grid lg:grid-cols-2 gap-8 lg:container lg:mx-auto px-2 sm:px-4">
    <div class="prose lg:ml-4">
      <img
        src="/images/2024/speakers/nadia_odunayo.jpg"
        class="w-16 md:w-20 lg:w-24 mt-0 mb-4 mr-4 aspect-1/1 rounded-sm float-left"
        alt="Nadia Odunayo"
      >
      <p class="mt-0">
        <a href="https://nadiaodunayo.com">Nadia Odunayo</a> has been so often the smiling face on the door of this
        event, but did you know she’s the founder and (more impressively!) one woman development team behind
        <a href="https://thestorygraph.com">The StoryGraph</a>, a reading community of over a million book lovers. Her
        story is one of grit, insight and technical insights into what it takes to execute on the “one person
        framework”.
      </p>
      <img
        src="/images/2024/speakers/nicky_thompson.jpg"
        class="w-16 md:w-20 lg:w-24 mt-0 mb-4 ml-4 aspect-1/1 rounded-sm float-right"
        alt="Nicky Thompson"
      >
      <p>
        It can be hard, even with experience, to know <i>why</i> you’re making (or not making) decisions on code and
        infrastructure. And how can you communicate or understand your own decision making framework, when it feels like
        your gut “just knew” what to do? <a href="https://ravenation.club/@knotnicky">Nicky Thompson</a> was done the
        research into providing us all with ways to make better, smarter decisions.
      </p>
      <img
        src="/images/2024/speakers/mohamed_hassan.jpg"
        class="w-16 md:w-20 lg:w-24 mt-0 mb-4 mr-4 aspect-1/1 rounded-sm float-left"
        alt="Mohamed Hassan"
      >
      <p>
        SQLite is having <i>a moment</i> in the Rails community so I thought, who better to cover its myriad production
        uses than the primary author of the <a href="https://github.com/oldmoe/litestack">LiteStack</a> series of gems,
        <a href="https://oldmoe.blog">Mohamed Hassan</a>.
      </p>
      <img
        src="/images/2024/speakers/daniel_vartanov.jpg"
        class="w-16 md:w-20 lg:w-24 mt-0 mb-4 ml-4 aspect-1/1 rounded-sm float-right"
        alt="Daniel Vartanov"
      >
      <p>
        Many of us know that “ruby is slow” or that it doesn’t have a good concurrency story. Or does it?
        <a href="https://twitter.com/daniel_vartanov">Daniel Varvatov</a> will walk us through Ractors.
      </p>

      <img
        src="/images/2024/speakers/karen_jex.jpg"
        class="w-16 md:w-20 lg:w-24 mt-0 mb-4 mr-4 aspect-1/1 rounded-sm float-left"
        alt="Karen Jex"
      >
      <p>
        As a web developer I wish I was better at understanding SQL approximately twice a day. Who better than
        <a href="https://www.linkedin.com/in/karenhjex/">Karen Jex</a> from CrunchyData to help us understand,
        troubleshoot and debug our databases.
      </p>
    </div>
    <div class="prose mt-6 lg:mt-0 lg:mr-4">
      <img
        src="/images/2024/speakers/chris_oliver.jpg"
        class="w-16 md:w-20 lg:w-24 mt-0 mb-4 mr-4 aspect-1/1 rounded-sm float-left"
        alt="Chris Oliver"
      >
      <p class="mt-0">
        <a href="https://twitter.com/excid3/">Chris Oliver</a> is an <a href="https://gorails.com">educator</a>,
        <a href="https://hatchbox.io/">product developer</a>, open source maintainer, entrepreneur and the first Rails
        Luminary. He’s recently rebuilt the <a href="https://github.com/excid3/noticed">noticed gem</a> from the ground
        up and learned a few things about building libraries.
      </p>

      <p class="mt-0">
        We have a delightful smattering of Lightning Talks, covering failure, minitest, philosophy, side projects and
        resuscitation.
      </p>
      <div class="grid grid-cols-5 gap-4 mt-6 mb-0 max-w-sm md:max-w-md">
        <img
          src="/images/2024/speakers/matt_rayner.jpg"
          class="w-auto mt-0 mb-4 mr-4 aspect-1/1 rounded-sm"
          alt="Matt Rayner"
        >
        <img
          src="/images/2024/speakers/frederic_wong.jpg"
          class="w-auto mt-0 mb-4 mr-4 aspect-1/1 rounded-sm"
          alt="Frederic Wong"
        >
        <img
          src="/images/2024/speakers/murad_iusufov.jpg"
          class="w-auto mt-0 mb-4 mr-4 aspect-1/1 rounded-sm"
          alt="Murad Iusufov"
        >
        <img
          src="/images/2024/speakers/richard_brooke.jpg"
          class="w-auto mt-0 mb-4 mr-4 aspect-1/1 rounded-sm"
          alt="Richard Brooke"
        >
        <img
          src="/images/2024/speakers/chris_howlett.jpg"
          class="w-auto mt-0 mb-4 mr-4 aspect-1/1 rounded-sm"
          alt="Chris Howlett"
        >
      </div>
      <p class="mt-0">Matt, Frederic, Murad, Richard &amp; Chris will be sharing the stage.</p>

      <img
        src="/images/2024/speakers/marco_roth.jpg"
        class="w-16 md:w-20 lg:w-24 mt-0 mb-4 ml-4 aspect-1/1 rounded-sm float-right"
        alt="Marco Roth"
      >
      <p>
        Arguably the biggest development in Rails 7.1 wasn’t in Ruby at all. Or TypeScript. Turbo 8 has made a massive
        splash and people are achieving slick and fast user interfaces with wildly less JavaScript.
        <a href="http://marcoroth.dev/">Marco Roth</a> is a core team member on the project and will lay out the future
        of the Rails front-end story.
      </p>

      <img
        src="/images/2024/speakers/drew_bragg.jpg"
        class="w-16 md:w-20 lg:w-24 mt-0 mb-4 mr-4 aspect-1/1 rounded-sm float-left"
        alt="Drew Bragg"
      >
      <p>
        Wrapping up the day, in the community’s sparkliest jacket, will be
        <a href="https://drbragg.dev">Drew Bragg</a> in the role of Chris Tarrant in the early 2000’s. He’s American, so
        he’ll miss that reference, but there’s a chance for folks to win some books, fun audience interaction and
        byzantine and confusing Ruby.
      </p>
    </div>
  </div>
</div>
