<div id="twentytwentysix">
  <div class="container mx-auto px-2 sm:px-4 py-8 md:py-16 text-center">
    <h2 class="font-bold italic text-6xl md:text-8xl">Thanks.</h2>
  </div>

  <div class="grid grid-cols-4 md:grid-cols-6 gap-4 container mx-auto my-4 px-2 sm:px-4">
    <a href="https://buildermethods.com">
      <img
        src="{% include cf_image.html src='/images/2026/speakers/brian_casel.jpg' width=192 height=192 %}"
        class="w-full aspect-square object-cover rounded-sm"
        alt="Brian Casel"
      >
    </a>
    <a href="https://elenatanasoiu.com/">
      <img
        src="{% include cf_image.html src='/images/2026/speakers/elena_tanasoiu.jpg' width=192 height=192 %}"
        class="w-full aspect-square object-cover rounded-sm"
        alt="Elena Tanasoiu"
      >
    </a>
    <a href="https://github.com/emmagabriel">
      <img
        src="{% include cf_image.html src='/images/2026/speakers/emma_gabriel.jpg' width=192 height=192 %}"
        class="w-full aspect-square object-cover rounded-sm"
        alt="Emma Gabriel"
      >
    </a>
    <a href="https://github.com/CraigDoesCode">
      <img
        src="{% include cf_image.html src='/images/2026/speakers/craig_norford.png' width=192 height=192 %}"
        class="w-full aspect-square object-cover rounded-sm"
        alt="Craig Norford"
      >
    </a>
    <a href="https://www.linkedin.com/in/ihadzhiatanasova/">
      <img
        src="{% include cf_image.html src='/images/2026/speakers/iliana_hadzhiatanasova.jpg' width=192 height=192 %}"
        class="w-full aspect-square object-cover rounded-sm"
        alt="Iliana Hadzhiatanasova"
      >
    </a>
    <a href="https://alexcwatt.com/">
      <img
        src="{% include cf_image.html src='/images/2026/speakers/alex_watt.jpg' width=192 height=192 %}"
        class="w-full aspect-square object-cover rounded-sm"
        alt="Alex Watt"
      >
    </a>
    <a href="https://github.com/rhannequin">
      <img
        src="{% include cf_image.html src='/images/2026/speakers/remy_hannequin.jpg' width=192 height=192 %}"
        class="w-full aspect-square object-cover rounded-sm"
        alt="Rémy Hannequin"
      >
    </a>
    <a href="https://www.linkedin.com/in/myudina/">
      <img
        src="{% include cf_image.html src='/images/2026/speakers/maria_yudina.jpg' width=192 height=192 %}"
        class="w-full aspect-square object-cover rounded-sm"
        alt="Maria Yudina"
      >
    </a>
    <a href="https://tekin.co.uk">
      <img
        src="{% include cf_image.html src='/images/2026/speakers/tekin_suleyman.jpg' width=192 height=192 %}"
        class="w-full aspect-square object-cover rounded-sm"
        alt="Tekin Süleyman"
      >
    </a>
    <a href="https://github.com/tijmenb">
      <img
        src="{% include cf_image.html src='/images/2026/speakers/tijmen_brommet.jpg' width=192 height=192 %}"
        class="w-full aspect-square object-cover rounded-sm"
        alt="Tijmen Brommet"
      >
    </a>
    <a href="https://www.linkedin.com/in/jennie1evans/">
      <img
        src="{% include cf_image.html src='/images/2026/speakers/jennie_evans.jpg' width=192 height=192 %}"
        class="w-full aspect-square object-cover rounded-sm"
        alt="Jennie Evans"
      >
    </a>
    <a href="https://andycroll.com">
      <img
        src="{% include cf_image.html src='/images/2026/speakers/andy_croll.jpg' width=192 height=192 %}"
        class="w-full aspect-square object-cover rounded-sm"
        alt="Andy Croll"
      >
    </a>
  </div>
</div>
