---
layout: default
---

{% capture day %}{{ page.date | date: "%-d" }}{% endcapture %}
{% capture dayLastTwoDigits %}{{ day | modulo: 100 }}{% endcapture %}
{% if dayLastTwoDigits >= "11" and dayLastTwoDigits <= "13" %}
  {% assign ordinal = "th" %}
{% else %}
  {% capture dayLastDigit %}{{ day | modulo: 10 }}{% endcapture %}
  {% case dayLastDigit %}
    {% when "1" %}
      {% assign ordinal = "st" %}
    {% when "2" %}
      {% assign ordinal = "nd" %}
    {% when "3" %}
      {% assign ordinal = "rd" %}
    {% else %}
      {% assign ordinal = "th" %}
  {% endcase %}
{% endif %}

{% assign page_year = page.date | date: "%Y" %}

<article>
  <h1 class="h1 mb-4">
    <small><a href="/{{ page.date | date: "%Y" }}">{{ page_year }}</a></small><br />
    {{ page.date | date: "%A, %-d" }}{{ ordinal }} {{ page.date | date: "%B"  }}
  </h1>

  {{ content }}

  <div class="row">
    {% assign ordered_posts = site.posts | sort: 'date' %}
    {% for post in ordered_posts %}
      {% assign post_year = post.date | date: "%Y" %}
      {% if post_year == page_year and post.break != true and post.author != 'andycroll' %}
        <div class="col-md-4 mb-3">
          <a href="{{ post.url }}">
            {% if post.image %}
              <img src="{{ post.image | absolute_url }}" class="img-fluid mb-2" alt="{{ post.title }}" />
            {% else %}
              <img src="/images/brighton-ruby-social.jpg" class="img-fluid mb-2" alt="{{ post.title }}" />
            {% endif %}
          </a>
          {% assign author = site.data.authors[post.author] %}
          <a href="{{ post.url }}">
            {{ post.title }}
          </a> // {{ author.name }}

        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-5">
      <h4 class="h6 text-uppercase text-center my-3">Gold</h4>
      <div class="row">
        {% for sponsor in page.gold %}
          <div class="col-11 mb-3">
            <a href="{{ site.data.sponsors[sponsor].url }}" target="_blank">
              <img class="img-fluid mb-3" mb-3 src="data:image/svg+xml;base64,{{ site.data.sponsors[sponsor].base64logo }}" />
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-5">
      <h4 class="h6 text-uppercase text-center my-3">Silver</h4>
      <div class="row">
        {% for sponsor in page.silver %}
          <div class="col-6 mb-3">
            <a href="{{ site.data.sponsors[sponsor].url }}" target="_blank">
              <img class="img-fluid mb-3" mb-3 src="data:image/svg+xml;base64,{{ site.data.sponsors[sponsor].base64logo }}" />
            </a>
          </div>
        {% endfor %}
      </div>

      <h4 class="h6 text-uppercase text-center my-3">Friends</h4>
      <div class="row">
        {% for sponsor in page.friend %}
          <div class="col-4 mb-3">
            <a href="{{ site.data.sponsors[sponsor].url }}" target="_blank">
              <img class="img-fluid mb-3" mb-3 src="data:image/svg+xml;base64,{{ site.data.sponsors[sponsor].base64logo }}" />
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</article>
