---
layout: default
---

{% capture day %}{{ page.date | date: "%-d" }}{% endcapture %}
{% capture dayLastTwoDigits %}{{ day | modulo: 100 }}{% endcapture %}
{% if dayLastTwoDigits >= "11" and dayLastTwoDigits <= "13" %}
  {% assign ordinal = "th" %}
{% else %}
  {% capture dayLastDigit %}{{ day | modulo: 10 }}{% endcapture %}
  {% case dayLastDigit %}
    {% when "1" %}
      {% assign ordinal = "st" %}
    {% when "2" %}
      {% assign ordinal = "nd" %}
    {% when "3" %}
      {% assign ordinal = "rd" %}
    {% else %}
      {% assign ordinal = "th" %}
  {% endcase %}
{% endif %}

{% assign page_year = page.date | date: "%Y" %}

<article>
  <div class="text-center mb-8">
    <p class="text-xl">{{ page.date | date: "%A, %-d" }}{{ ordinal }} {{ page.date | date: "%B"  }}</p>
    <h1 class="text-3xl">
      {{ page_year }}
    </h1>
  </div>

  <div class="xl:container mx-auto">
    <div class="grid grid-cols-2 sm:col-start-2 sm:grid-cols-3 gap-4 mb-4">
      <div class="prose prose-sm bg-white p-4 rounded">
        {{ content }}
      </div>

      {% if page.gold.size > 0 %}
        <div class="p-4 rounded col-start-2 sm:col-start-3 row-start-2 row-span-2">
          <h4 class="text-center text-xs mb-4">Gold</h4>
          {% for sponsor in page.gold %}
            <div class="px-8">
              {% if site.data.sponsors[sponsor].url != nil %}
              <a href="{{ site.data.sponsors[sponsor].url }}" target="_blank">
                <img class="mb-4" src="data:image/svg+xml;base64,{{ site.data.sponsors[sponsor].base64logo }}" />
              </a>
              {% else %}
              <img class="mb-4" src="data:image/svg+xml;base64,{{ site.data.sponsors[sponsor].base64logo }}" />
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if page.silver.size > 0 %}
        <div class="p-4 rounded sm:col-start-2 row-start-5 sm:row-start-4">
          <h4 class="text-center text-xs mb-4">Silver</h4>

          <div class="grid grid-cols-2 gap-8 mb-4">
            {% for sponsor in page.silver %}
              <div class="">
                {% if site.data.sponsors[sponsor].url != nil %}
                <a href="{{ site.data.sponsors[sponsor].url }}" target="_blank">
                  <img class="mb-4" src="data:image/svg+xml;base64,{{ site.data.sponsors[sponsor].base64logo }}" />
                </a>
                {% else %}
                <img class="mb-4" src="data:image/svg+xml;base64,{{ site.data.sponsors[sponsor].base64logo }}" />
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% assign ordered_posts = site.posts | sort: 'date' %}
      {% for post in ordered_posts %}
        {% assign post_year = post.date | date: "%Y" %}
        {% if post_year == page_year and post.break != true %}
          {% assign author = site.data.authors[post.author] %}
          <div class="">
            <a href="{{ post.url }}">
              {% if post.image %}
                <img src="{{ post.image }}" class="rounded mb-2" alt="{{ post.title }}" />
              {% else %}
                <img src="{{ author.image }}" class="rounded w-1/2 mb-2" alt="{{ post.title }}" />
              {% endif %}
            </a>
            <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            <p class="text-sm">{{ author.name }}</p>
          </div>
        {% endif %}
      {% endfor %}

      {% if page.friend.size > 0 %}
        <div class="p-4 rounded col-span-2">
          <h4 class="text-center text-xs mb-4">Friends</h4>

          <div class="grid grid-cols-3 sm:grid-cols-4 gap-8 mb-4 mx-16">
            {% for sponsor in page.friend %}
              <div class="">
                {% if site.data.sponsors[sponsor].url != nil %}
                <a href="{{ site.data.sponsors[sponsor].url }}" target="_blank">
                  <img class="mb-4" src="data:image/svg+xml;base64,{{ site.data.sponsors[sponsor].base64logo }}" />
                </a>
                {% else %}
                <img class="mb-4" src="data:image/svg+xml;base64,{{ site.data.sponsors[sponsor].base64logo }}" />
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</article>
