---
layout: default
---

{% capture day %}{{ page.date | date: "%-d" }}{% endcapture %}
{% capture dayLastTwoDigits %}{{ day | modulo: 100 }}{% endcapture %}
{% if dayLastTwoDigits >= "11" and dayLastTwoDigits <= "13" %}
    {% assign ordinal = "th" %}
{% else %}
    {% capture dayLastDigit %}{{ day | modulo: 10 }}{% endcapture %}
    {% case dayLastDigit %}
        {% when "1" %}
            {% assign ordinal = "st" %}
        {% when "2" %}
            {% assign ordinal = "nd" %}
        {% when "3" %}
            {% assign ordinal = "rd" %}
        {% else %}
            {% assign ordinal = "th" %}
    {% endcase %}
{% endif %}

<div class="pure-g">
  <div class="pure-u-sm-1-6 pure-u-md-7-24 pure-u-lg-5-24"></div>
  <div class="pure-u-1 pure-u-sm-3-4 pure-u-md-14-24 pure-u-lg-11-24 l-box">
    <h1>{{ page.date | date: "%Y" }} <small>{{ page.date | date: "%A, %-d" }}{{ ordinal }} {{ page.date | date: "%B"  }}</small></h1>

    <div class="archive">
      {{ content }}
    </div>
  </div>
</div>

<div class="pure-g">
  {% for sponsor in page.sponsors %}
    <div class="pure-u-1-3 pure-u-lg-1-6 l-box">
      <a href="{{ sponsor.link }}"><img src="/images/{{ page.date | date: "%Y" }}/{{ sponsor.name | slugify }}.jpg" alt="{{ sponsor.name }}" class="pure-img" /></a>
    </div>
  {% endfor %}
</div>

<div class="pure-g">
  <div class="pure-u-sm-1-24"></div>
  <div class="pure-u-7-24 pure-u-sm-5-24 pure-u-md-1-2 l-box">
    <div class="pure-g">
      {% for photo in page.photos %}
        <div class="pure-u-1 pure-u-md-1-3">
          <img src="/images/{{ page.date | date: "%Y" }}/{{ photo.src }}.jpg" alt="{{ photo.alt }}" class="pure-img" />
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="pure-u-sm-1-24"></div>
  <div class="pure-u-17-24 pure-u-sm-14-24 pure-u-md-10-24 l-box">
    <div class="archive">
      {% for talk in page.talks %}
        <article>
          <h3>{{ talk.title }}</h3>
          <p>
          {% for person in talk.speaker %}
            {{ person.name }} <small><a href="https://twitter.com/{{ person.twitter }}">@{{ person.twitter }}</a></small><br />
          {% endfor %}
          </p>
        </article>
      {% endfor %}
    </div>
  </div>
</div>
