<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.desc || 'A one day conference in Brighton for Rubyists' }}">

  <link rel="author" href="humans.txt" />

  <link rel="apple-touch-icon-precomposed" href="/images/favicon-152.png">
  <meta name="msapplication-TileColor" content="#0096FF">
  <meta name="msapplication-TileImage" content="/images/favicon-144.png">
  <meta name="application-name" content="{{ site.name }}">

  <link rel="stylesheet" href="/css/brightonruby.css">
</head>

<body>

<div class="siteheader">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 col-sm- col-sm-offset-0">
        <a href="/">
          <img src="/images/2016/brightonruby.png" class="img-responsive brand" alt="Brighton Ruby Conference 2016" />
        </a>
      </div>

      <div class="visible-xs col-xs-12 text-center">
        <h1 class="h2">Friday, 8th July 2016</h1>
        <p>
          <a href="https://ti.to/goodscary/brighton-ruby-conference-2016" class="btn btn-danger">Buy Tickets</a>
        </p>
      </div>

      <div class="hidden-xs col-sm-8 col-md-offset-2 col-md-6">
        <h1 class="h2">Friday, 8th July 2016</h1>
        <p>
          <a href="https://ti.to/goodscary/brighton-ruby-conference-2016" class="btn btn-lg btn-danger">Buy Tickets</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  {{ content }}
</div>

<div class="container-fluid">
  <footer role="contentinfo">
    <div class="row">
      <div class="col-sm-12">
        <nav class="nav">
          <!-- <a class="pure-button" href="https://ti.to/goodscary/brighton-ruby-conference-2016">Buy Tickets</a> -->
          <p>
            Previously...
            <a href="/2015">2015</a> &amp;
            <a href="/2014">2014</a>
          </p>

          <p>
            <a href="http://twitter.com/brightonruby" class="btn btn-default">@brightonruby</a>
            <a href="http://lanyrd.com/2016/brightonruby/" class="btn btn-default">Lanyrd</a>
            <a href="http://goodscary.com" class="btn btn-default">A Good Scary Production</a>
          </p>
        </nav>
      </div>
    </div>
  </footer>
</div>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '52efa5f95dd053046b0003c4');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
