---
layout: default
---

{% capture day %}{{ page.date | date: "%-d" }}{% endcapture %}
{% capture dayLastTwoDigits %}{{ day | modulo: 100 }}{% endcapture %}
{% if dayLastTwoDigits >= "11" and dayLastTwoDigits <= "13" %}
  {% assign ordinal = "th" %}
{% else %}
  {% capture dayLastDigit %}{{ day | modulo: 10 }}{% endcapture %}
  {% case dayLastDigit %}
    {% when "1" %}
      {% assign ordinal = "st" %}
    {% when "2" %}
      {% assign ordinal = "nd" %}
    {% when "3" %}
      {% assign ordinal = "rd" %}
    {% else %}
      {% assign ordinal = "th" %}
  {% endcase %}
{% endif %}

<div class="container-fluid">
  <article>
    <h1 class="mb-3">
      <a href="/{{ page.date | date: "%Y" }}">{{ page.date | date: "%Y" }}</a> /
      {{ page.title }}
    </h1>

    <div class="row">
      <div class="col-md-7 mb-5">
        {{ content }}

        <a href="https://ti.to/goodscary/brighton-ruby-conference-2017" class="btn btn-lg btn-danger mt-2">Buy a ticket to 2017</a>
      </div>

      <div class="col-md-5">
        <div class="row">
          <div class="col-sm-4 col-md-3 mb-2">
            {% assign author = site.data.authors[page.author] %}
            {% if author %}
              <img src="{{ author.image }}" class="img-fluid" alt="{{ author.name }}" />
            {% endif %}
          </div>

          <div class="col-md-9">
            <h2 class="h3 mb-3">
              {{ author.name }}
              {% if author.twitter %}
                <small><a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a></small>
              {% endif %}
            </h2>
            {{ author.bio | default: '' | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
