---
layout: default
---
{%- assign page_year = page.date | date: '%Y' -%}
{%- assign day = page.date | date: '%-d' -%}
{%- assign dayLastTwoDigits = day | modulo: 100 -%}

{%- if dayLastTwoDigits == '11' or dayLastTwoDigits == '12' -%}
  {%- assign ordinal = 'th' -%}
{%- else -%}
  {%- assign dayLastDigit = day | modulo: 10 -%}
  {%- if dayLastDigit == '1' -%}
    {%- assign ordinal = 'st' -%}
  {%- elsif dayLastDigit == '2' -%}
    {%- assign ordinal = 'nd' -%}
  {%- elsif dayLastDigit == '3' -%}
    {%- assign ordinal = 'rd' -%}
  {%- else -%}
    {%- assign ordinal = 'th' -%}
  {%- endif -%}
{%- endif -%}

<article>
  <h2>
    <a href="/{{ page_year }}">{{ page_year }}</a>
  </h2>

  <h1 class="my-2">
    {% assign author = site.data.authors[page.author] %}
    {{ page.title }}
  </h1>

  <p class="mb-0">
    {{ author.name }}
    {% if author.twitter %}
      // <a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>
    {% endif %}
  </p>
  {{ author.bio | default: '' | markdownify }}

  <hr>

  {{ content }}
</article>
