---
layout: default
---

{% capture day %}{{ page.speaking_date | date: "%-d" }}{% endcapture %}
{% capture dayLastTwoDigits %}{{ day | modulo: 100 }}{% endcapture %}
{% if dayLastTwoDigits >= "11" and dayLastTwoDigits <= "13" %}
    {% assign ordinal = "th" %}
{% else %}
    {% capture dayLastDigit %}{{ day | modulo: 10 }}{% endcapture %}
    {% case dayLastDigit %}
        {% when "1" %}
            {% assign ordinal = "st" %}
        {% when "2" %}
            {% assign ordinal = "nd" %}
        {% when "3" %}
            {% assign ordinal = "rd" %}
        {% else %}
            {% assign ordinal = "th" %}
    {% endcase %}
{% endif %}

<article>
  <div class="pure-g">
    <div class="pure-u-sm-4-24 pure-u-md-7-24 pure-u-lg-5-24"></div>
    <div class="pure-u-1 pure-u-sm-3-4 pure-u-md-14-24 pure-u-lg-11-24 l-box">
      <p>VIDEO</p>
      <h1>{{ page.title }} <small>by {{ page.speakers.first.name }}</small></h1>
      <p>{{ page.speaking_date | date: "%A, %-d" }}{{ ordinal }} {{ page.speaking_date | date: "%B %Y"  }}</p>
      {{ content }}
  </article>
</div>
